.el-menu {
  box-sizing: border-box;
}

.main-menu:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.customDialog {
  .el-dialog__header {
    border-bottom: 1px solid #ebeef5;
    text-align: left;
  }

  .el-dialog__title {
    color: #3f51b5;
    font-weight: bold;
    line-height: 16px;
    font-size: 16px;
    font-family: "黑体";
  }
}

.el-table__empty-block {
  width: 100% !important;
}

.el-message {
  top: 65px;
  padding: 8px 8px 8px 10px;
}

.customErrorNotify {
  .el-notification__content {
    & > p {
      overflow: auto;
      max-height: 500px;
    }
  }
}

.el-breadcrumb {
  font-size: 12px;
}

.el-form-item__content {
  .el-cascader.el-cascader--small {
    width: 100%;
  }
}

.el-menu--vertical {
  .el-menu-item.is-active {
    color: #30cc7b !important;
  }
}

.el-input-number .el-input__inner {
  text-align: left;
}

.tdPaddingTopOrBottom,
.el-table th,
.el-table td {
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-size: 12px;
  .el-button--text {
    padding: 4px 0;
  }
}

.el-table th {
  background: #f5f5f5;
}

$tableFontSize: 12px;

.el-table {
  .el-table__header-wrapper {
    .has-gutter {
      font-size: $tableFontSize;

      // color: #666;
      .is-leaf {
        background-color: #f8f8f8;
        @extend .tdPaddingTopOrBottom;
      }
    }
  }
  thead {
    color: #444;
  }

  .el-table__body-wrapper {
    .el-table__row {
      font-size: $tableFontSize;

      [class^="el-table_"] {
        @extend .tdPaddingTopOrBottom;
      }
    }
  }
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

/*定义滑块
   内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  // -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(144, 147, 153, 0.3);
  transition: 0.25s all ease-in-out;

  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

.search-custom-form.el-form--inline {
  .el-form-item {
    margin-bottom: 0px !important;
  }
}

.el-tree__empty-text {
  font-size: 12px;
}

.el-menu-item,
.el-submenu__title {
  font-size: 14px;
}

.el-select-dropdown__item {
  .el-rate {
    height: 34px;
    line-height: 45px;
  }
}

.el-cascader-menu {
  min-width: 220px;
}

.custom-tree-node {
  font-size: 12px;
  line-height: 2;
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > div {
    & > span {
      align-items: center;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > span.tree-title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .btn-box {
    display: none;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
    background: #f5f7fa;
    padding-left: 6px;

    i {
      font-size: 14px;
      line-height: 14px;
      margin-right: 2px;

      &:hover {
        color: #089a45 !important;
      }
    }
  }

  .btn-box-space {
    top: 3px;
    display: block;
  }

  .add-input {
    display: flex;

    .btn-box-1 {
      padding-right: 6px;
      line-height: 20px;

      i {
        font-size: 14px;
        margin-right: 2px;

        &:hover {
          color: #089a45 !important;
        }
      }
    }

    .el-input--mini {
      margin-right: 10px;
    }
  }
}
.el-table__body {
  .el-form-item.el-form-item--small {
    // margin-top: 18px;
  }
}
.el-menu--popup-bottom-start {
  margin-top: 0 !important;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.8) !important;
  .el-menu-item {
    background: transparent !important;
    &:hover {
      background: rgba(20, 20, 20, 0.5) !important;
      color: #ff9800 !important;
    }
  }
}

.el-menu--popup .el-menu-item {
  font-size: 12px;
}
.el-submenu.is-opened .el-submenu__title {
  background: #282828 !important;
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus {
  background-color: #000;
}

.custom-radio {
  .el-radio {
    line-height: 3;
    margin-right: 30px;
    // width: 120px;
  }
  .el-radio + .el-radio {
    margin-left: 0;
  }
}

.inline-formValidates {
  .el-form-item.el-form-item--small {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.el-form-item__error {
  white-space: nowrap;
}

.el-tooltip__popper {
  max-width: 400px;
  line-height: 1.8;
}

.el-cascader__label {
  left: 8px;
}
.el-dialog {
  width: 0;
  // transition: width 0.1s ease;
}

.el-collapse-item__wrap {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  will-change: transform;
}
.el-notification__content {
  word-wrap: break-word;
}

.upload-demo[hidden] .el-upload--picture-card {
  display: none;
}
.el-row--flex {
  display: flex !important;
}
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner,
.el-radio__input.is-disabled + span.el-radio__label,
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  color: #666;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #666;
}
