<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>管理平台</title>
</head>

<body>
  <div id="app" v-cloak>
    <el-row :gutter="10">
      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>区域目录</span>
          </div>
          <el-tree lazy :expand-on-click-node="false" @node-click="clickList" :data="catelogData" :props="defaultProps" @node-click="handleNodeClick"
            :load="loadNode"></el-tree>
        </el-card>
      </el-col>
      <el-col :span="18">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>区域信息</span>
          </div>
          <div>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-row>
                <div style="float:left">
                  <el-form-item label="">
                    <el-input v-model="formInline.val" placeholder="输入查询关键字" @keyup.enter="enter"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="enter">查询</el-button>
                  </el-form-item>
                </div>
                <div class="btn-box" style="float:right">
                  <el-button @click="refresh" v-if="hasPermission('sys:area:list')">刷新</el-button>
                  <el-button type="success" v-if="hasPermission('sys:area:save')" @click="add">新增</el-button>
                  <el-button type="primary" v-if="hasPermission('sys:area:edit')" @click="edit">编辑</el-button>
                  <el-button type="danger" v-if="hasPermission('sys:area:remove')" @click="del">删除</el-button>
                </div>
              </el-row>
            </el-form>

            <com-table :data="tableData" :columns="columns" :selection="true" :multiple-selection.sync="multiSelect">
              <div slot="layer" slot-scope="props">
                <el-tag v-if="props.scope === 1">省级</el-tag>
                <el-tag type="success" v-if="props.scope === 2">地市</el-tag>
                <el-tag type="info" v-if="props.scope === 3">区县</el-tag>
              </div>
              <div slot="status" slot-scope="props">
                <el-switch :value="props.scope == 1" disabled></el-switch>
              </div>
            </com-table>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</body>

</html>