@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot');
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.woff') format('woff'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.ttf') format('truetype'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.svg#iconfont') format('svg');
}

.ali-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

  &.icon-big {
    font-size: 32px
  }
}

.el-tree-node.is-current>.el-tree-node__content {
  background-color: #dcdfe6;
  color: #303133;
}

.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a {
  font-weight: normal;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  font-weight: bolder;
}

.__J_flex {
  display: flex;
  flex: auto;

  .icon {
    line-height: 30px;
    font-size: 18px;
    color: #6c6c6c;
    cursor: pointer;
  }

  &.right {
    flex-direction: row-reverse;
  }

  div {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.__my_form_inline {

  .el-form-item__content,
  .el-form-item__label {
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */
  }

  .el-form-item {
    margin-bottom: 8px !important;
    display: flex;
    flex: auto;
  }

  form {
    display: flex;
  }
}

.__fixed_form {

  .el-form-item__content,
  .el-form-item__label {
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */
  }

  .el-form-item {
    margin-bottom: 10px;
  }
}

img.loadingImg {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: #e8e8e8;
}

img.loadingImg[lazy=loading] {
  /*your style here*/
  opacity: 1;
  background-color: #e8e8e8;
  display: block;
  background-image: url('~@/assets/loading.svg');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation: rotate 2s infinite; // transition: all 0.2s ease-in-out
}

img.loadingImg[lazy=error] {
  opacity: 1;
  /*your style here*/
  background-color: #e8e8e8;
  display: block;
  background-image: url('~@/assets/error.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%; // transition: all 0.2s ease-in-out
}

img[lazy=loaded] {
  opacity: 1;
  transition: all 0.3s ease-in-out
}

.__img_wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #e8e8e8;

  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  img[lazy=loaded] {
    background: #fff;
  }
}

.__box_wrapper {
  display: flex;
  margin: 12px 60px -25px;

  ._fontSize {
    position: absolute;
    z-index: 3;
    color: #30cca5;
    font-size: 12px;
    text-align: right;
    float: right;
    right: 0;
    line-height: 2;
  }
}

.fix__row_2 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.__row_1 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.__wrapper_i {
  .timeCss {
    display: inline;
    color: #30cca5;
    margin-left: 10px;
    font-size: 12px !important;
  }
}

.menu-main {

  .el-menu-item i,
  .el-submenu__title i {
    font-size: 18px;
    vertical-align: middle;
    transition: all 0.25s ease-in-out;
  }

  &.el-menu--collapse {

    .el-menu-item i,
    .el-submenu__title i {
      font-size: 24px;
      vertical-align: middle;
      transition: all 0.25s ease-in-out;
    }
  }
}


.el-submenu__title i.el-submenu__icon-arrow {
  font-size: 12px;
  vertical-align: middle;
}

.el-message-box {
  .el-message-box__btns {
    .el-button--small+.el-button--small {
      margin-left: 10px !important
    }
  }
}

.keywords_num {
  font-size: 12px;
  text-align: right;
  color: #30cca5;
  position: absolute;
  right: 0;
  line-height: 24px;
}

.tb_edit_btn {
  margin: 0 6px;
  color: #00c0de;
  font-weight: bold;
}

.__flex_wrapper {
  .el-form-item__content {
    display: flex;

    &>span {
      margin-left: 10px;
      flex: auto;
      white-space: nowrap;
      display: flex;
      line-height: 28px;
    }
  }

}

.__flex_wrapper_right {
  .el-form-item__content {
    display: flex;

    &>span {
      margin-right: 10px;
      flex: auto;
      white-space: nowrap;
      display: flex;
      line-height: 28px;
    }
  }

}

form.__myform {
  padding: 10px 60px;
}

table.showGridTable {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #E4E4E4;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;


  .title {
    background: #F2F2F2;
    text-align: center;
  }

  .img {
    text-align: center;
  }

  th {
    border-width: 1px;
    padding: 0 12px;
    border-style: solid;
    border-color: #E4E4E4;
    background-color: #dedede;
  }

  td {
    height: 36px !important;
    border-width: 1px;
    padding: 0 12px;
    border-style: solid;
    border-color: #E4E4E4;
    background-color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.btns {
  margin-bottom: 8px;
  display: flex;

  .btn_wrapper {
    margin-right: 4px;
  }
}



.el-submenu.is-active .el-submenu__title,
.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title,
.el-menu--horizontal>.el-menu-item.is-active {
  color: #00c0de !important;
  // border-bottom: 1px solid #00c0de;
}

.el-form--label-top.__myform {
  .el-form-item__label {
    line-height: 12px;

  }

  .el-form-item__content {
    line-height: 29px;
    margin-bottom: 12px;
  }

  .__box {
    border: 1px solid #dcdfe6;
    padding: 10px;
    border-radius: 3px;
  }
}

.el-cascader__label,
.el-cascader-menu__item {
  font-size: 12px;
}

.h100_box {
  height: inherit;
}

.h100.right {
  border-left: 1px solid #ebeef5;
  min-height: 600px;
}


.custom_tree {
  height: 100%;
  // min-height: 600px;
  overflow: auto;

  .el-tree-node__label {
    font-size: 12px;
  }

  .el-button {
    padding: 12px 0 10px 0 !important;
  }

  .filter-tree {
    // margin-top: 10px;
  }

  .is-current>.el-tree-node__content {
    .btn-box {
      background: #dcdfe6 !important;
    }
  }

  .custom-tree-node {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &>div {
      &>span {
        align-items: center;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &>span.title {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }


    .btn-box {
      display: none;
      padding-right: 6px;
      position: absolute;
      right: 0;
      top: 0;
      background: #f5f7fa;
      padding-left: 6px;

      i {
        font-size: 14px;
        margin-right: 2px;

        &:hover {
          color: #089a45 !important;
        }
      }
    }

    .btn-box-space {
      top: 3px;
      display: block;
    }

    .add-input {
      display: flex;

      .btn-box-1 {
        padding-right: 6px;
        line-height: 20px;

        i {
          font-size: 14px;
          margin-right: 2px;

          &:hover {
            color: #089a45 !important;
          }
        }
      }

      .el-input--mini {
        margin-right: 10px;
      }
    }
  }

  .el-input--mini {
    height: 20px;

    .el-input__inner {
      height: 20px !important;
      line-height: 20px;
      padding: 0 4px;
    }
  }
}

#logo {
  padding: 6px;
}

#logo.collapse {
  padding: 0;
  text-align: center;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;

  img {
    width: 28px;
    height: 28px;
    display: block;
    margin: 0;
  }
}

.siderbar {
  .menu-main:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
    transition: all 0.25s ease-in-out;
  }

  .el-submenu__title {
    height: 50px;
  }

  .__el-submenu__title {
    &.el-menu-item {
      padding-left: 16px !important;
    }

    .el-submenu__title {
      padding-left: 16px !important
    }
  }

  .el-menu--collapse {
    width: 50px;

    .el-submenu__title {
      height: 50px;
      padding: 0px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .el-submenu.is-active .el-submenu__title,
    .el-submenu .el-submenu__title .el-menu--horizontal .el-menu .el-menu-item.is-active,
    .el-menu-item .el-tooltip,
    .el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title,
    .el-menu--horizontal .el-menu .el-submenu>.el-submenu__title,
    .el-menu--horizontal>.el-menu-item.is-active,
    .el-menu--horizontal>.el-menu-item {
      padding: 0px !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }
}





.el-menu,
.el-aside {
  border-right: 0;
  transition: all 0.25s ease-in-out;
}

.el-submenu__title {
  line-height: 50px;
  // padding: 0 40px;
}

.__menumain {
  .el-submenu__title {
    .el-submenu__icon-arrow {
      right: 4px;
    }
  }

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

.el-tabs--border-card {
  box-shadow: none;
  box-sizing: border-box;
}

.is-active i.iconfont1 {
  color: #00c0de !important;

}

.is-active .iconfont1+.font14 {
  color: #00c0de;
}

.h100+.h100 {
  // border-left: 1px solid #ebeef5;
}

a,
a:link,
a:visited {
  color: #00c0de;
}

.el-menu-item.is-active {
  color: #00c0de !important
}

.no-border {
  border: none !important
}

.custom-site,
.custom-my {
  top: 45px !important;
}

.el-menu--popup-right-start {
  margin: 0 !important
}

.el-button {
  line-height: 11px;
}

.el-menu--popup {
  background-color: rgba(39, 43, 44, 0.9) !important;

  .is-opened {
    background-color: rgba(39, 43, 44, 0.8) !important;
    color: #00c0de !important;
  }

  &>.el-menu-item,
  .el-submenu__title {
    background-color: transparent !important;

    &:hover {
      background-color: rgba(39, 43, 44, 0.8) !important;
      color: #00c0de !important;
    }
  }
}

.el-tooltip__popper.is-dark {
  background-color: rgba(39, 43, 44, 0.9) !important;

  .popper__arrow::after {
    // border-color: rgba(39, 43, 44, 0.9) !important;
  }
}


.el-submenu__icon-arrow {
  margin-top: -5px;
}

.no-hidden {
  text-overflow: initial !important;
}
