#login {

  body,
  html {
    font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, FZLanTingHeiS-L-G, PingFang SC, Microsoft YaHei;
  }

  .next-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
  }

  .next-row,
  .next-row *,
  .next-row :after,
  .next-row :before {
    box-sizing: border-box
  }

  @media (min-width: 344px) {
    .next-row {
      padding: 0 8px
    }
  }

  @media (min-width: 504px) {
    .next-row {
      padding: 0 8px
    }
  }

  @media (min-width: 752px) {
    .next-row {
      padding: 0 12px
    }
  }

  @media (min-width: 1022px) {
    .next-row {
      padding: 0 12px
    }
  }

  @media (min-width: 1232px) {
    .next-row {
      padding: 0 12px
    }
  }

  @media (min-width: 1532px) {
    .next-row {
      padding: 0 12px
    }
  }

  .next-row.next-row-fixed {
    margin-left: auto;
    margin-right: auto
  }

  @media (min-width: 344px) {
    .next-row.next-row-fixed {
      width: 320px
    }
  }

  @media (min-width: 504px) {
    .next-row.next-row-fixed {
      width: 480px
    }
  }

  @media (min-width: 752px) {
    .next-row.next-row-fixed {
      width: 720px
    }
  }

  @media (min-width: 1022px) {
    .next-row.next-row-fixed {
      width: 990px
    }
  }

  @media (min-width: 1232px) {
    .next-row.next-row-fixed {
      width: 1200px
    }
  }

  @media (min-width: 1532px) {
    .next-row.next-row-fixed {
      width: 1500px
    }
  }

  .next-row.next-row-fluid {
    margin-left: auto;
    margin-right: auto
  }

  @media (min-width: 344px) {
    .next-row.next-row-fluid {
      max-width: 320px
    }
  }

  @media (min-width: 504px) {
    .next-row.next-row-fluid {
      max-width: 480px
    }
  }

  @media (min-width: 752px) {
    .next-row.next-row-fluid {
      max-width: 720px
    }
  }

  @media (min-width: 1022px) {
    .next-row.next-row-fluid {
      max-width: 990px
    }
  }

  @media (min-width: 1232px) {
    .next-row.next-row-fluid {
      max-width: 1200px
    }
  }

  @media (min-width: 1532px) {
    .next-row.next-row-fluid {
      max-width: 1500px
    }
  }

  .next-row.next-row-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .next-row.next-row-no-wrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap
  }

  .next-row.next-row-no-padding,
  .next-row.next-row-no-padding>.next-col {
    padding: 0
  }

  .next-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-block;
    padding: 0 4px;
    width: auto
  }

  .next-col>.next-row {
    padding: 0
  }

  .next-row .next-col-1 {
    width: 4.16667%;
    max-width: 4.16667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 4.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 4.16667%;
    -ms-flex: 0 0 4.16667%;
    flex: 0 0 4.16667%
  }

  .next-row .next-col-2 {
    width: 8.33333%;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%
  }

  .next-row .next-col-3 {
    width: 12.5%;
    max-width: 12.5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 12.5%;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%
  }

  .next-row .next-col-4 {
    width: 16.66667%;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%
  }

  .next-row .next-col-5 {
    width: 20.83333%;
    max-width: 20.83333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20.83333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20.83333%;
    -ms-flex: 0 0 20.83333%;
    flex: 0 0 20.83333%
  }

  .next-row .next-col-6 {
    width: 25%;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }

  .next-row .next-col-7 {
    width: 29.16667%;
    max-width: 29.16667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 29.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 29.16667%;
    -ms-flex: 0 0 29.16667%;
    flex: 0 0 29.16667%
  }

  .next-row .next-col-8 {
    width: 33.33333%;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%
  }

  .next-row .next-col-9 {
    width: 37.5%;
    max-width: 37.5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 37.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 37.5%;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%
  }

  .next-row .next-col-10 {
    width: 41.66667%;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%
  }

  .next-row .next-col-11 {
    width: 45.83333%;
    max-width: 45.83333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 45.83333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 45.83333%;
    -ms-flex: 0 0 45.83333%;
    flex: 0 0 45.83333%
  }

  .next-row .next-col-12 {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .next-row .next-col-13 {
    width: 54.16667%;
    max-width: 54.16667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 54.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 54.16667%;
    -ms-flex: 0 0 54.16667%;
    flex: 0 0 54.16667%
  }

  .next-row .next-col-14 {
    width: 58.33333%;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%
  }

  .next-row .next-col-15 {
    width: 62.5%;
    max-width: 62.5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 62.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 62.5%;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%
  }

  .next-row .next-col-16 {
    width: 66.66667%;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%
  }

  .next-row .next-col-17 {
    width: 70.83333%;
    max-width: 70.83333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70.83333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70.83333%;
    -ms-flex: 0 0 70.83333%;
    flex: 0 0 70.83333%
  }

  .next-row .next-col-18 {
    width: 75%;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%
  }

  .next-row .next-col-19 {
    width: 79.16667%;
    max-width: 79.16667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 79.16667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 79.16667%;
    -ms-flex: 0 0 79.16667%;
    flex: 0 0 79.16667%
  }

  .next-row .next-col-20 {
    width: 83.33333%;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%
  }

  .next-row .next-col-21 {
    width: 87.5%;
    max-width: 87.5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 87.5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 87.5%;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%
  }

  .next-row .next-col-22 {
    width: 91.66667%;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%
  }

  .next-row .next-col-23 {
    width: 95.83333%;
    max-width: 95.83333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 95.83333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 95.83333%;
    -ms-flex: 0 0 95.83333%;
    flex: 0 0 95.83333%
  }

  .next-row .next-col-24 {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }

  .next-btn {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-out;
    box-shadow: none;
    border-radius: 50px;
    border-style: solid;
    text-align: center;
  }

  .next-btn-medium {
    margin: 0;
    height: 28px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 26px;
    border-width: 1px
  }

  .next-btn-primary,
  .next-btn-primary.visited,
  .next-btn-primary:link,
  .next-btn-primary:visited {
    color: #fff;
  }

  .next-btn-primary {
    border-style: solid;
    background-color: #2077ff;
    border-color: transparent;
  }

  .next-input {
    display: inline-table;
    border-collapse: separate;
    overflow: visible;
    border: 1px solid #e0e0e0;
    width: 200px;
    border-spacing: 0;
    background-color: #fff;
    transition: all .3s ease-out;
  }



  .next-input input,
  .next-input textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-weight: 400;
    vertical-align: baseline;
    background-color: transparent;
    height: 26px;
    line-height: 26px \0;
    margin: 0;
    padding: 0 8px;
    font-size: 14px;
  }

  .next-input-medium input {
    border-radius: 4px;
  }

  .next-checkbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    line-height: 14px;
  }

  .next-checkbox .next-checkbox-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #c4c6cf;
    transition: all .3s ease 0s;
    text-align: left;
  }

  .next-checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 0;
  }

  input[type=checkbox],
  input[type=radio] {
    box-sizing: border-box;
    padding: 0;
  }

  .next-checkbox.checked .next-checkbox-inner {
    border-color: #2077ff;
    background-color: #fff;
  }

  .next-checkbox.focused .next-checkbox-inner,
  .next-checkbox.hovered .next-checkbox-inner {
    border-color: #2077ff;
    background-color: #e2edff;
  }

  .next-checkbox-label {
    line-height: 1.28571;
    vertical-align: middle;
    line-height: 1;
    margin: 0 5px;
  }

  .next-checkbox-label,
  .next-menu {
    color: #333;
    font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, FZLanTingHeiS-L-G, PingFang SC, Microsoft YaHei;
    font-size: 14px;
  }

  .next-checkbox .next-checkbox-inner>.next-icon {
    opacity: 0;
    font-weight: bold;
    transform: scale(0.8);
    line-height: 14px;
    transition: all .3s ease 0s;
    color: #2077ff;
    margin-left: -1px;
  }

  .next-checkbox.checked .next-checkbox-inner>.next-icon {
    opacity: 1;
  }

  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label[for='captcha']:before {
    content: '';
  }

  .captchaImg {
    .el-form-item__label {
      text-align: left;
      line-height: 1;

      img {
        float: left;
        margin-bottom: 4px;
      }
    }

    .el-form-item__content {
      margin-left: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
    }
  }
  .bg {
    background-image: url('~@/assets/images/login_bg.jpg')
  }
}