$titleColor: #30cc7b;
$titleBgColor: #f5f5f5;
$text: #272b2c;
$bgColor: #f5f5f5;

@mixin wrap-overflow($clamp:3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  line-clamp: $clamp;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.link-wrapper {
  @include wrap-overflow(2)
}