body {
  font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #333333;
  padding-top: 10px;
}

.fontawesome-icon-list .fa-hover a {
  display: block;
  color: #222222;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.fontawesome-icon-list .fa-hover a .fa {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.fontawesome-icon-list .fa-hover a:hover {
  background-color: #286090;
  color: #fff;
  cursor: pointer;
}

.fontawesome-icon-list .fa-hover a:hover i {
  font-size: 28px;
  vertical-align: -6px;
}