[v-cloak] {
  display: none
}

body {
  background-color: transparent !important;
  overflow-y: hidden;
  // margin-bottom: 30px;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .card {
  max-width: 400px;
  width: 100%;
}
.alert-wrapper {
  position: absolute;
  top: 10px;
  width: 100%;
}
.container-fluid {
  margin-top: 15px
}
.wrapper {
  margin: 0
}
#main {
  overflow-y: hidden
}
.content_wrapper {
  overflow-y: hidden
}