@import '../../../assets/css/base.scss';

body {
  min-height: 100vh;
  background-color: $bgcolor;
  background-image: url('/src/assets/img/header_bg.png');
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important
}

.navbar {
  z-index: 2222;
}

.nav_right {
  list-style: none;
}

.nav_right li {
  float: left;
}

.nav_right li a {
  padding: 10px;
  color: $headerLinkColor;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: $titleColor
  }
}

.navbar-brand {
  width: 200px;
  text-align: center;
}

.main-header {
  .bg-primary {
    background-color: transparent !important;
  }
}

.main-sidebar,
.left-side {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 56px;
  min-height: 100%;
  width: 230px;
  z-index: 2;
  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out;
}


.sidebar-menu {
  list-style: none;
}

#sidebar-menu {
  margin: 0;
  padding: 0;
  font-size: 12px;
  & .header {
    color: $siderLinkColor;
    background: transparent !important;
    overflow: hidden;
    text-overflow: clip;
    padding: 10px 25px 10px 15px;
  }
  &>li {
    &>a {
      color: $headerLinkColor;
      // background: $bgcolor;
      border-left-color: #3c8dbc;
      padding: 12px 5px 12px 15px;
      display: block;
      position: relative;
      &>i {
        width: 20px
      }
      &>i.pull-right {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        transform: rotate(-90deg)
      }
    }
  }
}

.menu-collapse {
  .main-sidebar {
    width: 60px;
    .sidebar-menu {
      &>li {
        &>ul {
          display: none;
        }
        span {
          display: none;
        }
      }
    }

  }
  #sidebar-menu {
    margin: 0;
    padding: 0;
    font-size: 12px;
    & .header {
      color: $siderLinkColor;
      background: transparent !important;
      overflow: hidden;
      text-overflow: clip;
      padding: 10px 25px 10px 15px;
    }
    &>li {
      &>a {
        color: $headerLinkColor; // background: $bgcolor;
        border-left-color: #3c8dbc;
        padding: 12px 5px 12px 15px;
        display: block;
        position: relative;
        &>i {
          width: 20px
        }
        &>i.pull-right {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -7px;
          transform: rotate(-90deg)
        }
      }
    }
  }
}

.treeview-menu {
  margin: 0 1px;
  background: transparent !important;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  & li {
    margin: 0;
    line-height: 25px;
    & a {
      padding: 5px 5px 5px 15px;
      display: block;
      font-size: 12px;
      color: #8aa4af;
      &:hover {
        color: #fff
      }
    }
  }
}

.content-wrapper {
  margin-left: 230px;
  min-height: 100%;
  z-index: 800;
  padding-right: 20px;
  .content {
    border-radius: 6px;
    #main {
      border-radius: 6px;
      height: 100%;
    }
  }
}


.main-footer {
  padding: 7px;
  margin-left: 230px;
  color: #444;
  border-top: 1px solid #eee;
  background: #fff;
  & .pull-right {
    float: right;
  }
}

#nav_title {
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
  & li.active {
    color: #777;
    display: inline-block;
    & i {
      font-size: 12px
    }
  }
  & li+li:before {
    content: '>\00a0';
  }
}