// 公用start
.el-table::before {
  height: 0;
}
.el-table {
  border: 1px solid #e5e5e5;
}
.common_font_color {
  color: #377EA8;
  font-size: 16px;
}
.common_font_title {
  font-size: 14px;
}
.common__color {
  color: #108ee9;
}
.__dialog {
  margin: 0px -4px 15px;
}
.common_color {
  //color: #377EA8;
	color: #2196f3;
}
.common_color2 {
  color: #2196f3;
}
.__pointer {
  cursor: pointer !important;
}
.__back {
  position: absolute;
  top: 24px;
  right: 27px;
}
.__common__space {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-left: -30px;
  height: 12px;
  &::before {
    content: '';
  }
}
.___common {
  font-size: 12px !important;
}
// .___common .el-form-item__label {
//   font-size: 12px !important;
// }
.font12 {
  font-size: 12px !important;
}
.___common .el-textarea__inner {
  resize: none !important;
}
.___common .el-dialog__body {
  //font-size: 12px !important;
  padding: 20px !important;
}
.customDialog1 {
  .el-dialog__body {
    padding: 10px !important;
  }
}
.___common .el-dialog__header {
  // font-size: 14px !important;
  font-size: 16px;
  color: #333333;
  // font-weight: bold;
}
// .___common .el-dialog__footer {
//   padding-top: 1px !important;
// }
// 公式输入框百分比
.__ruleinput .el-input-group__append,
.__ruleinput .el-input-group__prepend {
  background-color: #fff;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  padding: 0px 1px;
  width: 1px;
  white-space: nowrap;
}
.font12 {
  font-size: 12px !important;
}
.title_h1 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #424f62;
}
.titleBox {
  text-indent: 1em;
  color: #777;
  font-weight: 600;
}
.__icon {
  font-size: 16px !important;
}
.color_666 {
  color: #666;
}
.title_icon {
  display: inline-block;
  width: 2px;
  height: 14px;
  background: #777;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.fix__row_2 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fix__row_1 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.export-btn {
	z-index: 998;
    i::before{
      font-size: 20px;
    }
}
.brand-class{
	display: -webkit-box;
	text-overflow: ellipsis; 
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.__right {
  position: absolute;
  right: 0;
  top: 0px;
}
.__relative {
  position: relative;
}
.margin_bottom8 {
  margin-bottom: 8px;
}
.margin_top8 {
  margin-top: 8px;
}
.margin_top10 {
  margin-top: 10px;
}
.margin_bottom10 {
  margin-bottom: 10px;
}
.margin_left10 {
  margin-left: 10px;
}
.margin_right10 {
  margin-right: 10px;
}
.font_color_tips {
  color: #30cca5;
  font-size: 12px;
}
._fontSize1 {
  position: absolute;
  z-index: 3;
  color: #f56c6c;
  font-size: 12px;
  text-align: right;
  float: left;
  left: 0;
  line-height: 19px;
}
._fontSize {
  position: absolute;
  z-index: 3;
  color: #30cca5;
  font-size: 12px;
  text-align: right;
  float: right;
  right: 0;
  line-height: 2;
}
.el-radio__label,
.el-checkbox__label {
  font-size: 12px !important;
}
// 公用end
// el-search
.__search {
  min-width: 650px;
}
.__search .el-form--inline .el-form-item {
  margin-bottom: 0;
}
// el-search-detail
.d_search .el-collapse-item__header {
  height: 45px !important;
  line-height: 45px !important;
  // color: #30cc7b;
  background: #f5f5f5 !important;
  padding-left: 1em;
}
.d_search .el-collapse-item__content {
  padding-bottom: 0px !important;
}
.search_container .el-form-item {
  display: inline-block !important;
}
// cate级联
.el-cascader-menu__item--extensible:after {
  right: 2px !important;
}
.cate__ .el-popper[x-placement^='bottom'] {
  margin-top: 23px !important;
}
//navBar(header)
.navbar .el-submenu.is-active .el-submenu__title {
  border-bottom: none !important;
}
//店铺授权添加弹窗
.for_shop_add_dialog .el-input-group__prepend {
  width: 120px !important;
}
// 类目管理 添加窗口 表格
.Table2 th,
.Table2 td {
  padding: 0 !important;
  line-height: 30px !important;
}
.Table2 .el-button--mini {
  padding-bottom: 0px !important;
}
// 关键词校验状态 菜单样式
// .verifyStatus {
//     height: 28px;
//     width:200px;
//     border-radius: 4px;
//     border: 1px solid #dcdfe6;
//     position: relative;
//     top: 7px;
//   }
// // 关键词校验 状态选择框下划线 去掉
// .verifyStatus .el-submenu.is-active .el-submenu__title{
//     border-bottom: none !important;
// }
// .verifyStatus .el-submenu .el-submenu__title{
//     height:28px !important;
//     line-height:28px !important;
// }
// 关键词校验弹窗中的表格的上下边距
.__checkDialog .el-table th,
.__checkDialog .el-table td {
  padding: 5px 0 !important;
}
// end
// el-table-select .el-checkbox + .el-checkbox
.__popover .el-checkbox + .el-checkbox {
  margin-left: 0px !important;
}
// 加入排名弹窗的padding
.__wrapper_i .el-dialog__body {
  padding-bottom: 1px !important;
}
.___common {
  img.loadingImg {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: #e8e8e8;
  }

  img.loadingImg[lazy='loading'] {
    /*your style here*/
    width:40%;
    opacity: 1;
    background-color: #fff;
    display: block;
    background-image: url('~@/assets/images/loading.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: rotate1 2s infinite; // transition: all 0.2s ease-in-out
  }

  img.loadingImg[lazy='error'] {
    opacity: 1;
    /*your style here*/
    background-color: #e8e8e8;
    display: block;
    background-image: url('~@/assets/images/error.svg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%; // transition: all 0.2s ease-in-out
  }

  img.loadingImg[lazy='loaded'] {
    opacity: 1;
    background-image: none;
    transition: all 0.3s ease-in-out;
  }

  .__img_wrapper {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;

    img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    img[lazy='loaded'] {
      background: #fff;
    }
  }
}
.el-popover {
  max-height: 500px;
  // overflow-y: scroll;
  overflow-x: hidden;
}
// 老客户分析的设置区间的tab
.ts .el-tabs__content {
  padding-bottom: 25px !important;
}
// 侧边栏文字高度
#sideBar .el-menu-item {
  height: 42px !important;
  line-height: 42px !important;
}
#sideBar .el-submenu__title {
  height: 42px !important;
  line-height: 42px !important;
}
// 店铺财务管理 问题类型 表格
.__table .el-badge__content.is-fixed {
  top: 10px !important;
  right: -3px !important;
}
//lilu类目设置类目管理添加类目的层级选择期的宽度
.el-cascader-menu {
  min-width: 260px;
}
//lilu分析关联源关联分析的input框的高度
// .el-input--mini {
//   .el-input__inner {
//     height: 32px !important;
//   }
// }
//lilu 修改响应成功弹窗的字体行高
.el-message--success .el-message__content {
  line-height: 22px !important;
}
// tree 鼠标移上去显示每一项
.span-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
// .custom_li_form {
//   .el-form-item.el-form-item--small {
//     width: 100% !important;
//     .el-input {
//       width: 100% !important;
//     }
//   }
// }
  // .el-popper{
	 // 	overflow: auto !important;
	 // }
.stage-box {
  background: #fafafa;
  border-radius: 5px;
  padding: 16px 20px;
  position: relative;
  margin-bottom: 10px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: $subTitleColor;
    border-radius: 5px 0 0 5px;
  }
  .tit {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}

.options-form {
  padding: 10px;
}

.disabled-tree-none {
  .el-checkbox.is-disabled {
    display: none;
  }
}
// .suKeyDialog{
// 	background: rgb(50,50,50);
// }
.suKeyDialogBig>div:nth-child(1){
	height: 60px;
	// background-size:100% 100%;
	// background-image:url('../images/keyWordToolBig.png');
}
.suKeyDialogBig>div:nth-child(2){
	padding-bottom: 0 !important;
}
.suKeyDialog>div:nth-child(1){
	height: 60px;
	// background-image:url('../images/keyWordTool.png');
}
.suKeyDialog>div:nth-child(2){
	padding-bottom: 0 !important;
}