@import '~normalize.css/normalize.css';
@import './transition.scss';
@import './header.scss';
@import './fonts.scss';
@import './element-custom.scss';
@import './common.scss';
@import './base.scss';
@import './common2.scss';
@import './lazyloading.scss';

table.custom-table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #dcdfe6;
  border-width: 0 0 1px 1px;
  table-layout:fixed;
  
  td {
    word-wrap: break-word;
    font-size: 14px;
    border: 1px solid #dcdfe6;
    padding: 12px;
    border-width: 1px 1px 0 0;
    &.table-header {
      background: #f5f7fa;
    }
  }
  &.data-table {
    margin-bottom: 10px;
    td {
      font-size: 12px;
      padding: 12px;
      &._title{
        font-size: 14px;
      }
    }
  }
  &.fixCenter {
    td {
      text-align: center;
    }
  }

}

.link-wrapper {
  // font-weight: bold;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  
}
a.url {
  &:link,
  & {
    color: #108ee9;
  }
  &:hover,
  &:active {
    color: #0b7fd3;
  }
}

.danger {
  color: #F56C6C !important;
}