.el-menu {
  box-sizing: border-box;
}

.el-message {
  top: 70px;
}

.customDialog {
  .el-dialog__header {
    text-align: left
  }
}

.el-input-number.is-controls-right .el-input__inner {
  text-align: left;
}

.el-form-item__content {
  .el-cascader.el-cascader--small {
    width: 100%;
  }
}

.el-form-item.title {
  background: #ebeef5;

  .el-form-item__label {
    font-weight: bold;
    color: #333;

  }
}

.el-form-item__label {
  font-size: 12px;
}

.custom_checkbox_tb {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;

  .el-checkbox+.el-checkbox,
  .el-checkbox {

    margin: 0;
    padding: 6px;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-width: 1px;

    .el-checkbox:nth-child(4n+4) {
      border-right: 1px solid;
    }
  }
}

.box-is-error {
  box-shadow: 0 2px 10px rgba(255, 87, 34, 0.6);

  &>div {

    form.custom-border.custom_simple_form,
    .flex,
    .change {
      border-color: #FF5722;
    }
  }
}

// .appMain.loading {
//   filter: blur(15px);
//   transition: all 0.25s ease-in-out;
// }

.el-loading-spinner .el-loading-text {
  color: #108ee9;
  margin: 10px 0;
  font-size: 12px;
}

.el-tooltip__popper.is-light {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .popper__arrow {
    border-width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.el-tabs__item {
  height: 42px !important;
}

.el-collapse-item__header {
  font-weight: bolder;
  font-size: 16px;
}

.el-collapse-item__arrow {
  margin: 0;
  margin-right: 10px;
}

.noShadow {

  &.el-tabs--border-card {
    box-shadow: none
  }

  &.__flex {
    display: flex;
    flex-direction: column
  }

  .el-tabs__content {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  &.noBorder.el-tabs--border-card {
    border: none
  }
}

.__table-btn {
  &.el-button--text {
    padding: 0 !important;
    i {
      font-size: 18px;
    }
  }
}

.el-table {
  .cell {
    p {
      margin: 4px 0
    }
  }
}