.padtop15 {
  padding-top: 15px;
}

.martop15 {
  margin-top: 15px;
}

.marbottom15 {
  margin-bottom: 15px;
}

.weui-btn_primary {
  background-color: #108ee9 !important;
}

.weui-btn {
  line-height: 2.1 !important
}

.bcolor {
  border: 1px solid rgb(189, 189, 189);
}

.tncolor {
  border-top: none;
}

.normal-input {
  width: 90%;
  height: 2.4rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 6px;
  margin: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none
}

.xinput {
  input {
    border: 1px solid rgb(189, 189, 189)
  }
}

.weui-icon-cancel {
  font-size: 30px !important;
}

.is-small {
  font-size: 20px;
}

.weui-icon-success {
  font-size: 28px !important;
}

.weui-icon_msg {
  font-size: 22px !important;
}
