<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>管理平台</title>
</head>

<body>
  <div id="app" v-cloak>
    <el-row :gutter="10">
      <el-col :span="24">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>系统菜单</span>
          </div>
          <div>
            <el-form :inline="true" class="demo-form-inline">
              <el-row>
                <div class="btn-box" style="float:right">
                  <el-button @click="refresh" v-if="hasPermission('sys:menu:list')">刷新</el-button>
                  <el-button type="success" v-if="hasPermission('sys:menu:save')" @click="add">新增</el-button>
                  <el-button type="primary" v-if="hasPermission('sys:menu:edit')" @click="edit">编辑</el-button>
                  <el-button type="danger" v-if="hasPermission('sys:menu:remove')" @click="del">删除</el-button>
                </div>
              </el-row>
            </el-form>

            <!-- <com-table :data="tableData" :columns="columns" :selection="true" :multiple-selection.sync="multiSelect">
              <div slot="icon" slot-scope="props">
                <i :class="props.scope"></i>
              </div>
              <div slot="type" slot-scope="props">
                <el-tag v-if="props.scope === 0">目录</el-tag>
                <el-tag type="success" v-else-if="props.scope === 1">菜单</el-tag>
                <el-tag type="warning" v-else>按钮</el-tag>
              </div>
            </com-table> -->
            <com-tree :data="tableData" :columns="columns" id-field="menuId" parent-field="parentId" :selection="true" @selection-change="handleSelectionChange">
              <div slot="icon" slot-scope="props">
                <i :class="props.scope"></i>
              </div>
              <div slot="type" slot-scope="props">
                <el-tag v-if="props.scope === 0">目录</el-tag>
                <el-tag type="success" v-else-if="props.scope === 1">菜单</el-tag>
                <el-tag type="warning" v-else>按钮</el-tag>
              </div>
            </com-tree>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</body>

</html>