.textbtn {
  border: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
.custom-eltable .el-button--text {
  color: $hoverColor;
}

a.link,
a.link:link,
a.link:visited {
  color: #0094e9 !important;
}
a.link:hover {
  color: #0082cc !important;
  // text-decoration: none;
}
a:hover,
.custom-eltable .el-button--text:hover {
  color: $bghoverColor !important;
  text-decoration: underline;
}
a.link.disabled {
  cursor: not-allowed;
  pointer-events: none;

  color: #999 !important;
}

.pad10 {
  padding: 10px;
}

.padright10 {
  padding-right: 10px;
}

.mar10 {
  margin: 10px;
}

.w100 {
  width: 100% !important;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}
.hr-dash {
  border-style: dashed;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.txc {
  text-align: center !important;
}

.txl {
  text-align: left !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.marleft10 {
  margin-left: 10px;
}

.marright10 {
  margin-right: 10px;
}

.martop {
  margin-top: 10px;
}

.border {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
}

.dialogItemTitle {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 10px;
  color: $dialogItemColor;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }

  .UniversalLayout {
    position: inherit;
  }
}

.iconBtn {
  font-size: 16px;
  padding: 4px 4px;
  cursor: pointer;
  color: #666;

  &:hover {
    color: #40a5ed;
  }
}

.normal-table-icon {
  border: none;
  padding: 2px 2px;
  margin-left: 0px !important;
  background: rgba(255, 255, 255, 0);

  i {
    font-size: 20px;
  }
}

.success {
  color: #67c23a !important;
}

.danger {
  color: #f56c6c !important;
}

.warn {
  color: #ff9f10 !important;
}

.info {
  color: #aaa !important;
}

.per100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}
h1 {
  font-size: 3em;
}

.link-color {
  color: $titleColor;
}

.normal-btn-icon {
  font-size: 20px;
}
.top-menu {
  color: #fff;
}
.top-menu-row {
  font-size: 12px;
  a:link,
  a:visited {
    color: #000;
  }
  a:hover {
    color: $btnColor !important;
    text-decoration: none;
  }
  .el-tree-node__content {
    height: auto;
  }
  .top-menu-node {
    margin-bottom: 25px;
    h3 {
      margin: 7px 0;
      a {
        font-size: 15px;
        // color: #fff;
        opacity: 1;
      }
    }
    span {
      // opacity: 0.6;
      opacity: 0.8;
      color: #b5b5b5;
    }
  }
}
.menu-icons {
  font-size: 14px;
}

.custom-eltable {
  .el-button.item-btn {
    padding: 5px 20px;
  }
  .el-button.el-button--text:not(.el-button--mini) i {
    // color: black;
    font-weight: bolder !important;
    font-size: 14px;
  }
  .el-dropdown {
    .el-button--primary.is-plain {
      padding: 0 10px;
      line-height: 23px;
      font-size: 13px;
      &:last-child {
        padding: 0 6px;
        font-size: 14px;
      }
    }
  }
}

.link-info.el-button--text {
  color: rgb(180, 180, 180);
  &:focus,
  &:hover {
    color: #3e86ff;
  }
}

.__danger {
  i {
    color: #e25947 !important;
  }
}
.fix__row_2 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fix__row_1 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.size14 {
  font-size: 14px !important;
}
.size12 {
  font-size: 12px !important;
}

.btnp0 {
  padding: 0 !important;
}

.inputButton {
  .el-checkbox-button__inner {
    padding: 3px 15px;
    .el-input--small .el-input__inner {
      height: 24px !important;

      margin: 4px 0;
    }
  }
}
.downexl-btn {
  button {
    padding: 6px 16px;
    font-size: 12px;
    &:first-child {
      margin-left: 10px;
    }
    i {
      font-size: 12px;
    }
  }
}

.el-breadcrumb {
  font-size: 12px;
}
.link-wrapper {
  .link-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    line-height: 20px;
    height: 20px;
    background-color: #f5f8f9;
    text-align: center;
    text-decoration: none;
    padding: 0 5px;
    min-width: 11px;
    border-radius: 30px;
    border: 1px solid #00a7e2;
    color: #00a7e2;
    &:hover {
      background-color: #0094e9;
      color: #fff !important;
    }
  }
}
.w30p {
  width: 30%;
  margin: 0 auto;
  min-width: 400px;
}
.w60p {
  width: 60%;
  margin: 0 auto;
  min-width: 400px;
}
.w1100 {
  // width: 1100px;

  // width: 100%;
  width: 1100px;
  margin: 0 auto;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.w600 {
  // width: 1100px;

  // width: 100%;
  width: 600px;
  margin: 0 auto;
}
.w800 {
  // width: 1100px;

  // width: 100%;
  width: 800px;
  margin: 0 auto;
}
.w60p {
  width: 60%;
  margin: 0 auto;
}
.loadingSelect {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
}
.__img_wrapper > .link-w {
  display: block;
  width: 100%;
  height: 100%;
}
.amazon-btn {
  background-position: left;
  border: 0;
  color: #006;
  cursor: pointer;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: auto;
  background-position: right -90px;
  padding-right: 24px;
  height: 27px;

  span {
    background-position: left 0;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 22px;
    font-size: 12px;
    font-weight: bold;
  }
}
.amazon-btn,
.amazon-btn span {
  background-color: transparent;
  background-image: url("../images/amz-btn-sprite.png");
  background-repeat: no-repeat;
}
.amazon-btn-sec {
  background-position: right -430px;
  padding-right: 5px;
  height: 22px;
  span {
    height: 22px;
    padding: 4px 22px;
    background-position: left -400px;
    box-sizing: border-box;
  }
}
.plain-tb {
  tr,
  td,
  th {
    padding: 4px 6px;
  }
  th {
    text-align: left;
  }
}
