<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>管理平台</title>
</head>

<body>
  <div id="app" v-cloak>
    <el-row :gutter="10">
      <el-col :span="24">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>系统菜单</span>
          </div>
          <div>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-row>
                <div style="float:left">
                  <el-form-item label="">
                    <el-input v-model="formInline.val" placeholder="输入查询关键字" @keyup.enter="onSubmit"></el-input>
                  </el-form-item>
    
                  <el-form-item>
                    <el-button type="primary" @click="onSubmit">查询</el-button>
                  </el-form-item>
                </div>
                <div class="btn-box" style="float:right">
                  <el-button @click="refresh" v-if="hasPermission('quartz:job:list')">刷新</el-button>
                  <el-button @click="add" v-if="hasPermission('quartz:job:save')">新增</el-button>
                  <el-button @click="edit" v-if="hasPermission('quartz:job:edit')">编辑</el-button>
                  <el-button type="danger" @click="del" v-if="hasPermission('quartz:job:remove')" @click="del">删除</el-button>
                  <el-dropdown trigger="click"  @command="handleCommand">
                    <el-button v-if="hasPermission('quartz:job:more')">更多<i class="el-icon-arrow-down el-icon--down"></i></el-button>
                    <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item command="a">启用</el-dropdown-item>
                      <el-dropdown-item command="b">禁用</el-dropdown-item>
                      <el-dropdown-item command="c">立即执行</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
                  <el-button type="default" @click="linkToLog">日志列表</el-button>
                </div>
              </el-row>
            </el-form>
    
            <com-table :data="tableData" :columns="columns" :selection="true" :multiple-selection.sync="multiSelect">
            </com-table>
            <el-pagination style="margin-top: 20px; text-align: right;" @size-change="handleSizeChange" @current-change="handleCurrentChange"
              :current-page="pageNo" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper"
              :total="total">
            </el-pagination>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>

  <!-- <script src="/src/scripts/layui/layui.all.js"></script> -->
</body>

</html>