.el-menu {
  box-sizing: border-box;
}

.main-menu:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.el-dialog__header {
  border-bottom: 1px solid #ebeef5;
  text-align: left;
  span {
    color: #3f51b5;
    font-weight: bold;
    line-height: 16px;
    font-size: 16px;
    font-family: "黑体";
  }
}

.el-dialog__header {
  color: #3f51b5;
  font-weight: bold;
  line-height: 16px;
  font-size: 16px;
  font-family: "黑体";
}

.el-popover__title {
  color: #3f51b5;
  font-weight: bold;
  line-height: 16px;
  font-size: 16px;
  font-family: "黑体";
  line-height: 1;
  margin: 4px 0 0 0;
  border-bottom: 1px solid #ebeef5;
  padding-bottom: 18px;
}

.el-table__empty-block {
  width: 100% !important;
}

.el-message {
  font-size: 12px;
  top: 65px;
  padding: 8px 8px 8px 10px;
  i {
    font-size: 12px;
  }
  .el-message__content {
    font-size: 12px;
  }
}

.customErrorNotify {
  .el-notification__content {
    & > p {
      overflow: auto;
      max-height: 500px;
    }
  }
}

.el-breadcrumb {
  font-size: 12px;
}

.el-form-item__content {
  .el-cascader.el-cascader--small {
    width: 100%;
  }
}

.el-menu--vertical {
  .el-menu-item.is-active {
    color: #30cc7b !important;
  }
}

.el-input-number .el-input__inner {
  text-align: left;
}

.tdPaddingTopOrBottom,
.el-table th,
.el-table td {
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-size: 12px;
  .el-button--text {
    padding: 4px 0;
  }
}

.el-table th {
  background: #f5f5f5;
}

$tableFontSize: 12px;

.el-table {
  .el-table__header-wrapper {
    .has-gutter {
      font-size: $tableFontSize;

      // color: #666;
      .is-leaf {
        background-color: #f5f5f5;
        @extend .tdPaddingTopOrBottom;
      }
    }
  }

  .el-table__body-wrapper {
    .el-table__row {
      font-size: $tableFontSize;

      [class^="el-table_"] {
        @extend .tdPaddingTopOrBottom;
      }
    }
  }
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  // -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(144, 147, 153, 0.3);
  transition: 0.25s all ease-in-out;

  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

.el-dialog__wrapper {
  .el-dialog__body {
    // padding-bottom: 0;
  }
}

.search-custom-form.el-form--inline {
  .el-form-item {
    margin-bottom: 0px !important;
  }
}

.el-tree__empty-text {
  font-size: 12px;
}

.el-menu-item,
.el-submenu__title {
  font-size: 14px;
}

.el-select-dropdown__item {
  .el-rate {
    height: 34px;
    line-height: 45px;
  }
}

.el-cascader-menu {
  min-width: 245px;
}

.custom-tree-node {
  font-size: 12px;
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  & > div {
    & > span {
      align-items: center;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > span.tree-title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .btn-box {
    display: none;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
    background: #f5f7fa;
    padding-left: 6px;

    i {
      font-size: 14px;
      line-height: 14px;
      margin-right: 2px;

      &:hover {
        color: #089a45 !important;
      }
    }
  }

  .btn-box-space {
    top: 3px;
    display: block;
  }

  .add-input {
    display: flex;

    .btn-box-1 {
      padding-right: 6px;
      line-height: 20px;

      i {
        font-size: 14px;
        margin-right: 2px;

        &:hover {
          color: #089a45 !important;
        }
      }
    }

    .el-input--mini {
      margin-right: 10px;
    }
  }
}
.el-input--small .el-input__inner {
  height: 30px;
  line-height: 30px;
}
.el-menu--horizontal > .el-menu-item.is-active,
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  border-bottom: 4px solid #108ee9;
}

.el-menu--popup-bottom-start {
  margin-top: 1px !important;
}

.el-menu--popup-bottom-start {
  margin-top: 0 !important;
  background: rgba(30, 30, 30, 0.8) !important;
  .el-menu-item {
    background: transparent !important;
    &:hover {
      background: rgba(20, 20, 20, 0.5) !important;
    }
  }
}
.el-menu--popup {
  background: rgba(30, 30, 30, 0.8) !important;
  border-radius: 0;
}
.el-tooltip__popper {
  max-width: 400px;
  line-height: 1.8;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #dcdfe6;
}
.el-table thead {
  color: #333;
  font-weight: normal !important;
  .cell {
    font-weight: normal;
  }
}

.list-btn-wrapper {
  position: relative;
  .num-tags {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
    color: #fff;
    padding: 1px 5px 0 0;
    font-size: 12px;
    &::after {
      cursor: pointer;
      z-index: -1;
      content: "";
      display: block;
      border: 10px solid #ddd;
      border-color: $subColor $subColor transparent transparent;
      position: absolute;
      right: 3px;
      top: 0;
    }
  }
  .icon-caidan {
    font-size: 16px;
  }
}
.rowCheckbox {
  max-width: 260px;
  .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }
  .el-checkbox {
    width: 50%;
    margin: 6px 0;
  }
}

.el-dropdown .el-dropdown__caret-button::before {
  background: rgb(173, 177, 184);
  top: 0;
  bottom: 0;
}

.el-menu-item,
.el-submenu__title {
  padding: 0 14px;
}
.el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
  margin-left: 4px;
}
.el-table .cell {
  line-height: 20px;
}
.custom-eltable .double-title .__subtitle {
  font-size: 12px;
  color: #888;
}
.el-form-item--small .el-form-item__label {
  line-height: 33px;
}
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner,
.el-radio__input.is-disabled + span.el-radio__label,
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  color: #666;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #666;
}
.el-form-item--mini .el-form-item__label {
  line-height: 29px;
}
.el-input-number--small {
  line-height: 28px;
}

.el-tooltip__popper {
  word-break: break-word;
}

.el-collapse-item__wrap {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  // will-change: transform;
}
.el-notification__content {
  word-wrap: break-word;
}

// .is-disabled .el-upload--picture-card {
//   display: none;
// }
.no-back .el-page-header__left {
  display: none;
}
.main-scroll {
  & > .default-scrollbar__wrap {
    overflow-x: hidden;
  }
}
.el-notification__group {
  flex: 1;
}
.el-cascader-menu {
  min-width: 130px;
}
.el-popover {
  min-width: 260px;
}
