@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './base.scss';

@font-face {
  font-family: 'iconfont';
  /* project id 625162 */
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot');
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.woff') format('woff'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.ttf') format('truetype'), url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.svg#iconfont') format('svg');
}

.ali-icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  &.icon-big {
    font-size: 32px
  }
}

button:focus {
  outline: none
}
.main-footer {
  background: transparent !important;
  border: 0 !important;
  color: #fff !important;
  margin-right: 20px;
  opacity: 0.5;
  // margin-top: 30px;
  // margin-bottom: 30px;
  // box-sizing: content-box
}

::-webkit-input-placeholder {
  font-size: 14px;
}

.layui-layer-btn .layui-layer-btn0,
.layui-layer-btn1 {
  border-radius: 50px;
  color: #fff !important
}

.layui-layer-btn a {
  border-radius: 50px !important;
  color: #333 !important
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: none;
}

.btn,
.btn-group-sm>.btn,
.btn-group>.btn,
.btn-sm,
.form-control:not(textarea) {
  border-radius: 50px;
  padding: 4px 12px;
}

#form tr {
  margin: 20px 0;
  line-height: 3;
}

.form-group.margin-left {
  margin-left: 10px
}

#yutooPLT {
  margin-top: 15px
}

body {
  font-size: 14px
}

.content-header {
  position: relative;
  padding: 0 0 3px 8px
}

a {
  outline: none
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important
}

.content-header>.breadcrumb {
  position: relative;
  top: 0;
  right: 0;
  float: none;
  margin-top: 0px;
  padding-left: 10px;
  background: #ecf0f5;
}

.main-footer {
  padding: 7px;
  margin-left: 230px;
  color: #444;
  border-top: 1px solid #eee;
  background: #fff;
}

[v-cloak] {
  display: none;
}

.pointer {
  cursor: pointer;
}

tbody>tr>th {
  font-weight: normal;
}

.panel .table {
  margin: 0 0;
}

.panel .pagination {
  margin: 0;
}

.panel-default>.panel-heading {
  background-color: #f5f5f5;
}

.row {
  margin: 0;
  padding: 10px 2px 0px 2px;
}

.dropdown-menu li a {
  font-size: 14px;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.form {
  width: 100%;
  .formTitle {
    width: 90px;
    font {
      color: red
    }
  }
  .formValue {
    position: relative;
    span {
      position: absolute;
      width: 10%;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      line-height: 2.4;
      height: 32px;
      top: 0;
      right: 0;
    }
  }
}
.datepicker-range input {
  border-radius: 30px
}

.bootstrap-table {
  .fixed-table-container {
    border: none
  }
  .fixed-table-pagination {
    .pull-left {
      float: left;
      .btn-group {
        .btn {
          border-radius: 3px;
          background: none;
          border: 1px solid #ddd;
          line-height: 1.2;
          &:after {
            transform: rotate(180deg)
          }
        }
        &.show {
          .btn {
            &:after {
              transform: rotate(0)
            }
          }
        }
        .dropdown-menu {
          li {
            text-align: center;
            a {
              display: block;
              color: #333;
              text-decoration: none;
              line-height: 2;
              &:hover {
                background-color: #f1f2f2
              }
            }
          }
        }
      }
    }
    .pull-right {
      float: right;
      .pagination {
        li {
          a {
            color: #333;
            text-decoration: none
          }
          &.disabled a {
            color: #a8a8a8
          }
          &.active a {
            color: $titleColor
          }
        }
      }
    }
  }
}

/* * css: 表单校验提示 * ----------*/

.poptip {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 10px 6px;
  *padding: 7px 10px 5px;
  line-height: 16px;
  color: #fff;
  font-size: 12px;
  background-color: #B94A48;
  border: solid 1px #B94A48;
  border-radius: 2px;
  box-shadow: 0 0 3px #ddd;
}

.poptip-arrow {
  position: absolute;
  overflow: hidden;
  font-style: normal;
  font-family: simsun;
  text-shadow: 0 0 2px #ccc;
}

.poptip-arrow em,
.poptip-arrow i {
  position: absolute;
  left: 0;
  top: 0;
  font-style: normal;
}

.poptip-arrow em {
  color: #B94A48;
}

.poptip-arrow i {
  color: #B94A48;
  text-shadow: none;
}

.poptip-arrow-top,
.poptip-arrow-bottom {
  height: 6px;
  width: 12px;
  left: 12px;
  margin-left: -6px;
}

.poptip-arrow-left,
.poptip-arrow-right {
  height: 12px;
  width: 6px;
  top: 12px;
  margin-top: -6px;
}

.poptip-arrow-top {
  top: -6px;
}

.poptip-arrow-top em {
  top: -1px;
}

.poptip-arrow-top i {
  top: 0px;
}

.poptip-arrow-bottom {
  bottom: -6px;
}

.poptip-arrow-bottom em {
  top: -8px;
}

.poptip-arrow-bottom i {
  top: -9px;
}

.poptip-arrow-left {
  left: -6px;
}

.poptip-arrow-left em {
  left: 1px;
}

.poptip-arrow-left i {
  left: 2px;
}

.poptip-arrow-right {
  right: -6px;
}

.poptip-arrow-right em {
  left: -6px;
}

.poptip-arrow-right i {
  left: -7px;
}