.pad10 {
  padding: 10px;
}

.padright10 {
  padding-right: 10px;
}

.mar10 {
  margin: 10px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}

.mr10 {
  margin-right: 10px;
}

.txc {
  text-align: center !important;
}

.txl {
  text-align: left !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.marleft10 {
  margin-left: 10px;
}

.marright10 {
  margin-right: 10px;
}

.martop {
  margin-top: 10px;
}

.border {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
}

.dialogItemTitle {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 10px;
  color: $dialogItemColor;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }

  .UniversalLayout {
    position: inherit;
  }
}

.iconBtn {
  font-size: 16px;
  padding: 4px 4px;
  cursor: pointer;
  color: #666;

  &:hover {
    color: #40a5ed;
  }
}

.normal-table-icon {
  border: none;
  padding: 2px 2px;
  margin-left: 0px !important;
  background: rgba(255, 255, 255, 0);

  i {
    font-size: 20px;
  }
}

.el-icon-check,
.success {
  color: #67C23A;
}

.el-icon-close,
.danger {
  color: #F56C6C
}

.flex-c {
  @include flex();
  justify-content: center;
  align-items: center
}
.flex-v {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.per100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}
h1 {
  font-size: 3em
}

.link-color {
  color: #108ee9
}

.el-icon-caret-right,
.el-icon-caret-bottom {
  font-size: 20px;
  position: absolute;
  top: 32%;
  left: 0%;
}

.normal-btn-icon {
  font-size: 20px;
}