a {
  text-decoration: none;
}
a:link, a:visited {
  color: $hoverColor;
}
a:hover {
  color: $titleColor;
  text-decoration: underline
}

a.link,a.link:link, a.link:visited {
  color: #0094e9 !important;
}
a.link:hover {
  color: #0082cc;
  text-decoration: none
}

.pad10 {
  padding: 10px;
}

.padright10 {
  padding-right: 10px;
}

.mar10 {
  margin: 10px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.txc {
  text-align: center !important;
}

.txl {
  text-align: left !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.marleft10 {
  margin-left: 10px;
}

.marright10 {
  margin-right: 10px;
}

.martop {
  margin-top: 10px;
}

.border {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
}

.dialogItemTitle {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 10px;
  color: $dialogItemColor;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }

  .UniversalLayout {
    position: inherit;
  }
}

.iconBtn {
  font-size: 16px;
  padding: 4px 4px;
  cursor: pointer;
  color: #666;

  &:hover {
    color: #40a5ed;
  }
}

.normal-table-icon {
  border: none;
  padding: 2px 2px;
  margin-left: 0px !important;
  background: rgba(255, 255, 255, 0);

  i {
    font-size: 20px;
  }
}

.success {
  color: #67C23A !important
}

.danger {
  color: #F56C6C !important
}

.warn {
  color: #FF9F10 !important
}

.info {
  color: #aaa !important
}

.flex-c {
  @include flex();
  justify-content: center;
  align-items: center
}
.flex-v {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.flex-t-b {
  @include flex();
  flex-direction: column;
  justify-content: space-between;
}

.per100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}
h1 {
  font-size: 3em
}

.link-color {
  color: $titleColor
}

.normal-btn-icon {
  font-size: 20px;
}


.top-menu-row {
  font-size: 12px;
  a:link, a:visited {
    color: #000;
  }
  a:hover {
    color: $titleColor;
    text-decoration: none
  }
  .el-tree-node__content {
    height: auto;
  }
  .el-tree-node__children {
    .el-tree-node__content {
      background-image: url('~@/assets/images/tree.png');
      background-repeat: no-repeat;
      background-position: 13px -21px;
    }
    .el-tree-node:last-child {
      .el-tree-node__content {
        background-position: 13px -96px;
      }
    }
  }
  .top-menu-node {
    margin-bottom: 20px;
    h3 {
      a {
        font-size: 14px;
      }
    }
    span {
      opacity: 0.8;
    }
  }
}
.menu-icons {
  font-size: 14px
}

.custom-eltable {
  .el-button.el-button--text:not(.el-button--mini) i {
    color: black;
    font-weight: bolder !important;
    font-size: 14px
  }
  .el-dropdown {
    .el-button--primary.is-plain {
      padding: 0 22px;
      line-height: 30px;
      font-size: 14px;
      &:last-child {
        padding: 0 6px;
        font-size: 14px;
      }
    }
  }
  
}

.link-info.el-button--text {
  color: rgb(180, 180, 180);
  &:focus, &:hover {
    color: #3E86FF
  }
}


.__danger {
  i {
    color: #E25947 !important
  }
}
.fix__row_2 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fix__row_1 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}