@font-face {
  font-family: 'iconfont';  /* project id 1324460 */
  src: url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.eot');
  src: url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.woff') format('woff'),
  url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1324460_85q9m0b0a3w.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icontubiao:before {
  content: "\e610";
}

.iconjinggaoicon:before {
  content: "\e60f";
}

.iconcaidan:before {
  content: "\e60b";
}


