
@charset "UTF-8";

@mixin flex($direction:columin,$inline:block){
    display: if($inline==block,flex,inline-flex);
    flex-direction: $direction;
    flex-wrap: wrap;
}


/*

*/
.textOverflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
