.el-menu {
    box-sizing: border-box;
}

.main-menu:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}

.customDialog {
    .el-dialog__header {
        border-bottom: 1px solid #ebeef5;
        text-align: left
    }

    .el-dialog__title {
        color: #3F51B5;
        font-weight: bold;
        line-height: 16px;
        font-size: 16px;
        font-family: '黑体'
    }
}

.el-table__empty-block {
    width: 100% !important;
}

.el-message {
    top: 65px;
    padding: 8px 8px 8px 10px
}

.customErrorNotify {
    .el-notification__content {
        &>p {
            overflow: auto;
            max-height: 500px;
        }
    }
}



.el-breadcrumb {
    font-size: 12px;
}

.el-form-item__content {
    .el-cascader.el-cascader--small {
        width: 100%;
    }
}

.el-menu--vertical {
    .el-menu-item.is-active {
        color: #30cc7b !important
    }


}

.el-input-number .el-input__inner {
    text-align: left
}


.tdPaddingTopOrBottom,
.el-table th,
.el-table td {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;

}

.el-table th {
    background: #f5f5f5;
}

$tableFontSize :12px;

.el-table {
    .el-table__header-wrapper {
        .has-gutter {
            font-size: $tableFontSize;

            // color: #666;
            .is-leaf {
                background-color: #f5f5f5;
                @extend .tdPaddingTopOrBottom;
            }
        }
    }

    .el-table__body-wrapper {
        .el-table__row {
            font-size: $tableFontSize;

            [class^="el-table_"] {
                @extend .tdPaddingTopOrBottom;
            }
        }
    }
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    // border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .1)
}

.el-dialog__wrapper {
    .el-dialog__body {
        // padding-bottom: 0;
    }
}


.search-custom-form.el-form--inline {
    .el-form-item {
        margin-bottom: 0px !important;
    }
}

.el-tree__empty-text {
    font-size: 12px
}

.el-menu-item,
.el-submenu__title {
    font-size: 14px;
}

.el-select-dropdown__item {
    .el-rate {
        height: 34px;
        line-height: 45px;
    }
}

.el-cascader-menu {
    min-width: 220px;
}

.custom-tree-node {
    font-size: 12px;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &>div {
        &>span {
            align-items: center;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &>span.tree-title {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }


    .btn-box {
        display: none;
        padding-right: 6px;
        position: absolute;
        right: 0;
        top: 0;
        background: #f5f7fa;
        padding-left: 6px;

        i {
            font-size: 14px;
            line-height: 14px;
            margin-right: 2px;

            &:hover {
                color: #089a45 !important;
            }
        }
    }

    .btn-box-space {
        top: 3px;
        display: block;
    }

    .add-input {
        display: flex;

        .btn-box-1 {
            padding-right: 6px;
            line-height: 20px;

            i {
                font-size: 14px;
                margin-right: 2px;

                &:hover {
                    color: #089a45 !important;
                }
            }
        }

        .el-input--mini {
            margin-right: 10px;
        }
    }
}