@font-face {
  font-family: 'iconfont';  /* project id 625162 */
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot');
  src: url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.woff') format('woff'),
  url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_625162_ndkbkutj3fk1emi.svg#iconfont') format('svg');
}

.ali-icon {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  &.icon-big {
    font-size: 32px
  }
}