body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow: hidden;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: $hoverColor;
}
a:hover {
  color: $titleColor;
  text-decoration: underline;
}

a.link,
a.link:link,
a.link:visited {
  color: #0094e9 !important;
}
a.link:hover {
  color: #0082cc;
  text-decoration: none;
}
.el-icon-upload-success.el-icon-check {
  position: absolute;
  left: 17px;
  top: 0px;
}

.el-dropdown .el-dropdown__caret-button::before {
  background: #adb1b8;
}

.pad10 {
  padding: 10px;
}

.padright10 {
  padding-right: 10px;
}

.mar10 {
  margin: 10px;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.txc {
  text-align: center !important;
}

.txl {
  text-align: left !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.marleft10 {
  margin-left: 10px;
}

.marright10 {
  margin-right: 10px;
}

.martop {
  margin-top: 10px;
}

.border {
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
}

.dialogItemTitle {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 10px;
  color: $dialogItemColor;
}

.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }

  .UniversalLayout {
    position: inherit;
  }
}

.iconBtn {
  font-size: 16px;
  padding: 4px 4px;
  cursor: pointer;
  color: #666;

  &:hover {
    color: #40a5ed;
  }
}

.normal-table-icon {
  border: none;
  padding: 2px 2px;
  margin-left: 0px !important;
  background: rgba(255, 255, 255, 0);

  i {
    font-size: 20px;
  }
}

.success {
  color: #67c23a !important;
}

.danger {
  color: #f56c6c !important;
}

.warn {
  color: #ff9f10 !important;
}

.info {
  color: #aaa !important;
}

.flex-c {
  @include flex();
  justify-content: center;
  align-items: center;
}
.flex-v {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-t-b {
  @include flex();
  align-items: center;
  justify-content: space-between;
}

.per100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}
h1 {
  font-size: 3em;
}

.link-color {
  color: $titleColor;
}

.normal-btn-icon {
  font-size: 20px;
}

.top-menu-row {
  font-size: 12px;
  a:link,
  a:visited {
    color: #fff;
  }
  a:hover {
    color: $titleColor;
    text-decoration: none;
  }
  .el-tree-node__content {
    height: auto;
  }
  .top-menu-node {
    margin-bottom: 20px;
    h3 {
      a {
        font-size: 14px;
      }
    }
    span {
      opacity: 0.8;
    }
  }
}
.menu-icons {
  font-size: 14px;
}

.custom-eltable {
  .el-button.el-button--text:not(.el-button--mini) i {
    // color: black;
    font-weight: bolder !important;
    font-size: 14px;
  }
  .el-dropdown {
    .el-button--primary.is-plain {
      padding: 0 22px;
      line-height: 30px;
      font-size: 14px;
      &:last-child {
        padding: 0 6px;
        font-size: 14px;
      }
    }
  }
}

.link-info.el-button--text {
  color: rgb(180, 180, 180);
  &:focus,
  &:hover {
    color: #3e86ff;
  }
}

.__danger {
  i {
    color: #e25947 !important;
  }
}
.fix__row_2 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fix__row_1 {
  display: -webkit-box;
  text-overflow: ellipsis; // display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.w100 {
  width: 100% !important;
}

.innerTips {
  flex: 0 0 50%;
  white-space: nowrap;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: #999;
}
.more-len {
  padding: 12px 56px;
}

.wrapper .box {
  border: 1px dashed #ddd;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-top: 16px;
  background: #f9f9f9;
  .el-button--text {
    padding: 8px 0;
  }
}

.el-page-header__left .el-icon-back {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  &::before {
    content: "\e663";
  }
}
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner,
.el-radio__input.is-disabled + span.el-radio__label {
  color: #666;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after {
  background-color: #666;
}
.link-wrapper {
  .link-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &:hover {
      background-color: #0094e9;
    }
  }
}
.link-wrapper-1 {
  position: relative;
  .link-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #bbb;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 0;
    margin-left: 5px;
    &:hover {
      background-color: #0094e9;
    }
  }
}
.el-tooltip__popper.is-dark {
  max-width: 300px;
}
.introjs-tooltiptext {
  font-size: 15px;
  line-height: 1.4;
}
.introjs-skipbutton {
  float: right;
  margin-left: 10px !important;
  margin-right: 0 !important;
}
.introjs-helperNumberLayer {
  top: 12px !important;
  left: -30px !important;
}
.introjs-prevbutton {
  display: none !important;
}

.font12 {
  font-size: 12px !important;
}
.font14 {
  font-size: 14px !important;
}
.item-btn .el-button--text {
  padding: 5px 0;
}
