.el-menu {
  box-sizing: border-box;
}

.el-button--small,
.el-button--small.is-round {
  padding: 7px 15px;
}
.el-button--mini,
.el-button--small {
  font-size: 14px;
}
.customDialog .el-dialog__header {
  color: #3f51b5;
  font-weight: bolder;
  line-height: 16px;
  font-size: 16px;
}
.el-button--text {
  color: $titleColor;
}
.el-dropdown .el-dropdown__caret-button::before {
  // background: $btnColor;
  top: 0;
  bottom: 0;
}
.el-button-group {
  .el-button--primary:first-child {
    border-right-color: $btnColor;
  }
  .el-button--primary:not(:first-child):not(:last-child) {
    border-left-color: $btnColor;
    border-right-color: $btnColor;
  }
  .el-button--primary:last-child {
    border-left-color: $btnColor;
  }
}

// [class*=' el-icon-'],
// [class^='el-icon-'] {
//   font-weight: bolder;
// }
// .el-button.el-button--primary {
//   padding: 12px 32px
// }

.el-table__empty-block {
  border: 1px solid #ddd;
  border-top: none;
  box-sizing: border-box;
}
.el-button--primary {
  i {
    font-size: 14px;
  }
}

.el-table--mini,
.el-table--small,
.el-table__expand-icon {
  font-size: 13px;
}
.el-form-item__label {
  color: #333;
}
// .el-table__body {
//   .el-table__row {
//     & > td:first-child {
//       border-left: 1px solid #ddd;
//     }
//     & > td:last-child {
//       border-right: 1px solid #ddd;
//     }
//   }
// }

.el-table--border,
.el-table--group {
  border-color: #e4e4e4;
}

.el-button--primary.is-plain {
  color: $btnColor;
  background: #e9f7ff;
  border-color: $btnColor;
}

.navbar {
  .el-submenu__title {
    font-size: 16px;
  }
  .el-menu-item {
    padding: 0;
    font-size: 16px;
    display: flex;
    border: none !important;
    align-items: center;
    .nav-item {
      padding: 0 20px;
      font-size: 16px;
    }
    &:hover .nav-item {
      // background-color: #ecf3ff;
      color: $titleColor;
      border-radius: 15px;
      height: 30px;
      line-height: 30px;
    }
  }
  &.el-menu--horizontal > .el-menu-item {
    color: #000;
    &.is-active {
      // border: none;
      .nav-item {
        // background-color: #ecf3ff;
        color: $titleColor;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

.sub-nav {
  background: rgba(58, 182, 254, 0.109803921568627);
  padding: 0 20px;
  & .el-tabs__header {
    margin: 0;
  }
  & .el-tabs__nav-wrap::after {
    height: 0;
  }
  & .el-tabs__item {
    font-size: 14px;
    line-height: 50px;
    height: 50px !important;
  }
}

.bread {
  margin-bottom: 20px;
  .bread-title {
    font-size: 28px;
    float: left;
    // font-weight: bold;
  }
  ul.bread-nav {
    float: left;
    vertical-align: middle;
    li {
      float: left;
      vertical-align: middle;
      font-size: 14px;
      & .el-button {
        padding-bottom: 0;
        & span {
          font-size: 13px;
          margin-right: 12px;
          padding-left: 12px;
          border-left: 1px solid #ddd;
        }
      }
      &:first-child .el-button {
        & span {
          border-left: none;
        }
      }
    }
  }
}

.el-message {
  top: 10px !important;
}

.customDialog {
  .el-dialog__header {
    text-align: left;
  }
}

.el-input-number.is-controls-right .el-input__inner {
  text-align: left;
}

.el-form-item__content {
  .el-cascader.el-cascader--small {
    width: 100%;
  }
}

.el-form-item.title {
  background: #ebeef5;

  .el-form-item__label {
    font-weight: bold;
    color: #333;
  }
}

.custom_checkbox_tb {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;

  .el-checkbox + .el-checkbox,
  .el-checkbox {
    margin: 0;
    padding: 6px;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-width: 1px;

    .el-checkbox:nth-child(4n + 4) {
      border-right: 1px solid;
    }
  }
}

.box-is-error {
  box-shadow: 0 2px 10px rgba(255, 87, 34, 0.6);

  & > div {
    form.custom-border.custom_simple_form,
    .flex,
    .change {
      border-color: #ff5722;
    }
  }
}

// .appMain.loading {
//   filter: blur(15px);
//   transition: all 0.25s ease-in-out;
// }

.el-loading-spinner .el-loading-text {
  color: #108ee9;
  margin: 10px 0;
  font-size: 12px;
}

.el-tooltip__popper.is-light {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .popper__arrow {
    border-width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.el-tabs__item {
  height: 42px !important;
}

.el-collapse-item__header {
  font-weight: bolder;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
}

.el-collapse-item__arrow {
  margin: 0;
  margin-right: 10px;
}

.noShadow {
  &.el-tabs--border-card {
    box-shadow: none;
  }

  &.__flex {
    display: flex;
    flex-direction: column;
  }

  .el-tabs__content {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  &.noBorder.el-tabs--border-card {
    border: none;
  }
}

.__table-btn {
  &.el-button--text {
    padding: 0 !important;
    i {
      font-size: 18px;
    }
  }
}

.el-table {
  .cell {
    p {
      margin: 4px 0;
    }
  }
}
.rowCheckbox {
  max-width: 260px;
  .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
  }
  .el-checkbox {
    width: 50%;
    margin: 6px 0;
  }
}

.list-btn-wrapper {
  position: relative;
  .num-tags {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
    color: #fff;
    padding: 1px 5px 0 0;
    font-size: 12px;
    &::after {
      cursor: pointer;
      z-index: -1;
      content: "";
      display: block;
      border: 10px solid #ddd;
      border-color: $subColor $subColor transparent transparent;
      position: absolute;
      right: 3px;
      top: 0;
    }
  }
}

.plat-select-popper {
  ._img {
    vertical-align: middle;
  }
  ._label {
    vertical-align: middle;
    margin-left: 10px;
  }
}
.plat-wrapper {
  float: right;
  position: relative;
  .plat-select {
    .el-input__inner {
      padding-left: 46px;
    }
  }
  & > img {
    position: absolute;
    left: 16px;
    top: 8px;
    z-index: 2;
  }
}
.upload-demo {
  .el-upload__tip {
    margin-top: 0;
    line-height: 12px;
  }
}

// input::-ms-input-placeholder {
//   text-align: center;
// }
// input::-webkit-input-placeholder {
//   text-align: center;
// }

.__custom-tabs {
  .el-tabs__item {
    padding: 0 16px;
    height: 24px !important;
    line-height: 24px;
    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }
  .el-tabs__nav-wrap::after {
    display: none;
  }
  .el-tabs__active-bar {
    display: none;
  }
}
.el-tabs__item.is-active {
  color: $titleColor;
}
.el-tabs__active-bar {
  background-color: $titleColor;
}

.upshelf {
  .el-table__expanded-cell[class*="cell"] {
    padding: 0;
  }
  .inner-table
    > .el-table__body-wrapper
    > .el-table__body
    > tbody
    > .el-table__row {
    & > td:not(:first-child) {
      padding: 0;
      & > .cell {
        padding: 0;
      }
    }
  }
}
.el-badge__content.is-fixed {
  top: 4px;
  right: 7px;
}
.el-upload-list--picture-card .el-upload-list__item,
.el-upload--picture-card {
  line-height: 56px;
  width: 50px;
  height: 50px;
}
.el-upload-list--picture-card .el-upload-list__item-actions {
  // display: block;
  line-height: 1;
  .el-upload-list__item-preview i,
  .el-upload-list__item-delete i {
    font-size: 14px;
  }
  .el-upload-list__item-delete {
    margin-left: 8px;
  }
}
.el-divider--horizontal {
  margin: 48px 0;
}
.el-tooltip__popper {
  line-height: 1.8;
}
.el-divider__text.is-left {
  font-weight: bold;
}

.form-item-table {
  .el-form-item {
    margin-bottom: 0;
  }
}
.w100 table {
  width: 100% !important;
}
.el-page-header__content {
  font-weight: bold;
}
.el-page-header__title {
  display: none;
}
.el-page-header__left {
  margin-right: 10px;
}
.el-page-header__left::after {
  content: none;
}
.el-table .cell {
  line-height: 20px;
}
.el-form-item--small .el-form-item__content,
.el-form-item--small .el-form-item__label {
  line-height: 33px;
}
.el-tooltip__popper {
  word-break: break-word;
}
.el-collapse-item__wrap {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  // will-change: transform;
}
.no-back .el-page-header__left {
  display: none;
}
.main-scroll {
  & > .default-scrollbar__wrap {
    overflow-x: hidden;
  }
}
.el-cascader-menu {
  min-width: 130px;
}
