@font-face {
  font-family: 'iconfont'; /* project id 1448317 */
  src: url('/static/fonts/font_1448317/iconfont.eot');
  src: url('/static/fonts/font_1448317/iconfont.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/font_1448317/iconfont.woff2') format('woff2'),
    url('/static/fonts/font_1448317/iconfont.woff') format('woff'),
    url('/static/fonts/font_1448317/iconfont.ttf') format('truetype'),
    url('/static/fonts/font_1448317/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconcaidan:before {
  content: '\e60b';
}
.iconIcon-:before {
  content: '\e663';
}

.iconbell:before {
  content: '\e60f';
}
